

#
# Module configuration file for
# TaskListDiego
# (com.sem1.EquelaAppDiego)
#

displayname: TaskListDiego
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata
